<div ng-app="GeralModule" ng-controller="AnimalCadastroController as animalCadastro">

	<section title="Cadastro de Animal" class="cadastro">

		<div class="alert alert-{{animalCadastro.tipoMensagem}}" role="alert">{{animalCadastro.mensagemErro}}</div>
		<form name="form">
			<div class="form-group" ng-if="animalCadastro.animal.idAnimal">
				<label for="obs">Id: </label> <input readonly type="text" class="form-control" id="id" ng-model="animalCadastro.animal.idAnimal" />
			</div>
			<div class="form-group">
				<label for="obs">Nome:* </label> <input type="text" class="form-control" id="obs" placeholder="Nome" ng-model="animalCadastro.animal.nome" required>
				</textarea>
			</div>
			<div class="form-group">
				<label>Status: </label> <input type="radio" name="status" ng-model="animalCadastro.animal.flAtivo" ng-value="1" /> Ativo <input type="radio" name="status"
					ng-model="animalCadastro.animal.flAtivo" ng-value="0" /> Inativo
			</div>

			<p class="form-obs">* Campo obrigatório, o botão <strong>Salvar</strong> ficará desabilitado enquanto o formulário não for preenchido corretamente</p>

			<button class="btn btn-primary" ng-disabled="!form.$valid" ng-click="animalCadastro.salvar()">Salvar</button>
			<button class="btn btn-dark" ng-click="animalCadastro.voltarAoReport()">Voltar</button>
		</form>


		<script type="text/javascript" src="resources/js/angular.js"></script>
		<script type="text/javascript" src="controle/ficha/ficha.module.js"></script>
		<script type="text/javascript" src="controle/animal/animal.module.js"></script>
		<script type="text/javascript" src="controle/geral.module.js"></script>
		<script type="text/javascript" src="controle/menu.controller.js"></script>
		<script type="text/javascript" src="controle/directives.js"></script>
		<script type="text/javascript" src="controle/animal/animal-cadastro.controller.js"></script>
		<script type="text/javascript" src="resources/js/ngMask.min.js"></script>
	</section>

</div>